.DisplayBlock{
    display: block;
}

.DisplayNone{
    display: none;
}

fieldset{
    width: 70%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}